RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} ^((?!\/rpc\.php).)*$
RewriteCond %{REQUEST_URI} ^((?!\/rpcls\.php).)*$

#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php